[general]
model = "google/gemini-flash-latest"
prompt_path = ["prompts", "fabric_prompts"]

[[providers]]
name = "google"
api_key_cmd = "pass gemini/cli"

[[patterns]]
name = "jj_desc"
steps = [
  { command = "jj diff --git", output = "diff" },
  { command = "jj log -T builtin_log_detailed -n 5", output = "commits" },
  { prompt = "@commit_message", output = "commit_message" },
  { command = "jj desc --edit -m {{ .commit_message }}", tty = true },
  { command = "echo -n {{ .commit_message }}" },
]

[[patterns]]
name = "git_commit"
steps = [
  { command = "git diff --staged", output = "diff" },
  { command = "git log --max-count=5", output = "commits" },
  { prompt = "@commit_message", output = "commit_message" },
  { command = "git commit -e -m {{ .commit_message }}", tty = true },
  { command = "echo -n {{ .commit_message }}" },
]

[[patterns]]
name = "proofread"
steps = [
  { command = "mktemp", output = "before_file" },
  { command = "mktemp", output = "after_file" },

  { command = "cat >> {{ .before_file }}", pipe_in = true },

  { prompt = "@proofread", output = "fixed_text" },
  { command = "echo -n {{ .fixed_text }} > {{ .after_file }}" },

  { command = "riff --color=on {{ .before_file }} {{ .after_file }} >&2" },

  { command = "echo -n {{ .fixed_text }}" },
]

[[patterns]]
name = "code_review"
steps = [
  { command = "mktemp", output = "tmpfile" },

  { prompt = "@review_code", model = "google/gemini-3-pro-preview" },
  { command = "tee {{ .tmpfile }}", pipe_in = true },
  { command = "glow --pager", pipe_in = true, tty = true },

  { command = "cat {{ .tmpfile }}" },
]
